// vim: nosmartindent
body
	display flex
	height 100vh

	flex-direction column
	justify-content flex-start
	align-items stretch
	align-content stretch

.top
	background-color #454545
	text-align right
	border-bottom 1px solid black
	padding 5px 5px 5px 0px;

	a
		color #fff
		display inline-block
		min-width 45px
		padding 5px 10px
		text-decoration none
		border-left 1px solid #fff

	a:hover
		color #ccc

	@media(max-width: 399px)
		a
			display block
			border-left none

	.logged-in
		display none

	.logged-out
		a
			font-size 12px
			border none

.main
	flex 1
	font-family mono

	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	align-content stretch
	flex-flow row wrap

	.chat
		flex 1

		min-width 960px
		min-height 80vh

		display flex
		flex-direction column
		justify-content flex-start

		position relative
		top 0px
		bottom 0px

		.history
			flex 1
			order 1
			overflow-y scroll
			font-family mono

		.input
			order 2
			padding 0px 0px 4px 10px

			display flex
			flex-direction row
			justify-content flex-start
			align-items stretch
			align-content stretch
			flex-flow row wrap

			.nick
				font-weight bold
				min-width 150px
		
			.message
				flex 1
				display inline-block
				width 100%

	.side
		min-width 450px

		div
			padding 10px
			max-height 200px

			h2
				margin 0px
			


