body
	background-color #454545

.nav
	height 5vh
	overflow hidden

	a
		height 100%
		color black
		display inline-block
		min-width 75px
		padding 4px 6px
		text-decoration none

	a:hover 
		color #fff

	a.active
		background-color #ccc

	a.status
		background-color black
		color #454545
	
	a.status:hover
		color #ccc

.chat
	background-color #fff
	border-right 1px solid black
	border-top 1px solid black
	height 95vh
	padding 4px
	overflow-y scroll

	div
		font-family mono

.nicks
	padding 4px 10px
	margin 0px

	a
		background-color inherit
		display block
		text-decoration none

