doctype html
html
	head
		title buttirc
		link(rel="stylesheet" href="vendors/normalize-css/normalize.css")
		link(rel="stylesheet" href="vendors/skeleton/css/skeleton.css")
		link(rel="stylesheet" href="style.css")
	body
		div.row
			div.twelve.columns.nav
				a.status(href="#") status
		div.row
			div.ten.columns.chat
			div.two.columns.nicks
		script(src="channel.js")
		script(src="ui.js")
		script(src="script.js")
// comment.

