doctype html
html
	head
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(charset="utf-8")

		title buttirc
		link(rel="stylesheet" href="vendors/normalize-css/normalize.css")
		link(rel="stylesheet" href="vendors/css-social-buttons/css/zocial.css")
		link(rel="stylesheet" href="style.css")
	body
		.top
			.logged-out
				a.zocial.persona#signin(href="#") sign in with persona

			.logged-in
				a.networks(href="#") add network
				a.settings(href="#") account settings
				a#signout(href="#") logout
		.main
			.chat
				.history
				.input
					span.nick bheesham
					input.message(type="text")
			.side
				.networks
					h2 Networks
					ul#networks
				.nicks
					h2 Nicks
					ul#nicks

		script(src="https://login.persona.org/include.js")
		script(src="user.js")
// comment.

